# Local development environment overrides
/local.nix

#Task
/.task/
/Taskfile.yaml
/Taskfile.yml

# Misc
.DS_Store
.todo

# Dependencies
/node_modules/

# Build
/build/

# Debug
*.log

# Typescript
*.tsbuildinfo

# Rslib
/.rslib/

# Storybook
/storybook-static/
/.storybook/build/
