@layer radio-aktywne {
  .icon {
    margin: auto;
    transform: none;
    width: 60%;
  }

  .input {
    border: none;

    &:not(:checked, :disabled) {
      background-color: var(--mantine-color-default);
    }
  }
}
