@layer radio-aktywne {
  .control {
    border: none;

    &:where(:not([data-active])) {
      background-color: var(--mantine-color-default);

      @mixin hover {
        &:where(:not(:disabled, [data-disabled])) {
          background-color: var(--mantine-color-default-alternative);
        }
      }
    }
  }
}
