@layer radio-aktywne {
  .icon {
    margin: auto;
    transform: none;
    width: 60%;
  }

  .indicator {
    border: none;

    &:not([data-checked="true"], [data-disabled="true"]) {
      background-color: var(--mantine-color-default);
    }
  }
}
