@layer radio-aktywne {
  .cell {
    position: relative;
  }

  .cell-even {
    background-color: var(--mantine-color-foreground-alternative);
  }

  .cell-odd {
    background-color: var(--mantine-color-foreground);
  }

  .columns-header {
    align-items: center;
    background-color: var(--mantine-color-midground);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
  }

  .corner {
    background-color: var(--mantine-color-midground);
  }

  .grid {
    background-color: var(--mantine-color-midground);
  }

  .rows-header {
    align-items: center;
    background-color: var(--mantine-color-midground);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em 0.5em;
  }
}
