@layer radio-aktywne {
  .grid {
    display: grid;
    grid-template-columns: auto repeat(var(--columns), var(--cell-width));
    grid-template-rows: auto repeat(var(--rows), var(--cell-height));
    position: relative;
  }

  .grow {
    width: 100%;
  }
}
