@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@layer mantine;

@layer radio-aktywne {
  html,
  body {
    height: 100%;
    width: 100%;
  }

  :root {
    --mantine-color-anchor: var(--mantine-color-ra-blue-text);
    --mantine-color-black: var(--mantine-color-dark-8);
    --mantine-color-body: var(--mantine-color-background);
    --mantine-color-default: var(--mantine-color-foreground);
    --mantine-color-default-alternative: var(
      --mantine-color-foreground-alternative
    );
    --mantine-color-default-hover: var(--mantine-color-default-alternative);
    --mantine-color-error: var(--mantine-color-ra-red-text);
    --mantine-color-shadow: var(--mantine-color-ra-green-filled);
    --mantine-color-text: var(--mantine-color-background);
    --mantine-color-white: var(--mantine-color-dark-0);
    --mantine-primary-color-text: var(--mantine-primary-color-filled);

    @mixin light-root {
      --mantine-color-background: var(--mantine-color-black);
      --mantine-color-foreground: var(--mantine-color-dark-2);
      --mantine-color-foreground-alternative: var(--mantine-color-dark-3);
      --mantine-color-midground: var(--mantine-color-white);
    }

    @mixin dark-root {
      --mantine-color-background: var(--mantine-color-white);
      --mantine-color-foreground: var(--mantine-color-dark-5);
      --mantine-color-foreground-alternative: var(--mantine-color-dark-6);
      --mantine-color-midground: var(--mantine-color-black);
    }
  }
}
